audacious
autostart
Code
dleyna-renderer-service.conf
dleyna-server-service.conf
eog
epiphany
evolution
filelist.txt
filezilla
flameshot
gedit
gh
ghb
GIMP
gnome-boxes
gnome-control-center
gnome-session
goa-1.0
.gsd-keyboard.settings-ported
gtk-2.0
gtk-3.0
gtk-4.0
htop
ibus
Kitware
libreoffice
libvirt
lvim
microsoft-edge-dev
mimeapps.list
monitors.xml
monitors.xml~
nautilus
obs-studio
pop-shell
procps
pulse
qBittorrent
QtProject.conf
ripme
Rygel
rygel.conf
totem
user-dirs.dirs
user-dirs.locale
user-share
vis
vis (copy)
vlc
yay
yelp
coc
fcitx
fcitx5
chromium
pavucontrol.ini
dconf
.git
Thunar
geeqie
qalculate
xfce4
LICENSE
README.md
whoozle.github.io